@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.accordion {
  @apply bg-gray-800;
}

.accordion-item {
  @apply border-b border-gray-700;
}

.accordion-header {
  @apply py-2 cursor-pointer;
}

.accordion-body {
  @apply py-2 pl-4;
}

.accordion-body ul {
  @apply list-none;
}

.accordion-body li {
  @apply py-1;
}

.accordion-body a {
  @apply text-white hover:text-blue-500;
}

.accordion-body a:hover {
  @apply text-blue-500;
}
