version: '3.8'

services:
  postgres:
    image: postgres:18  # Recomendo fixar a 18 em vez de 'latest' para evitar sustos no futuro
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      # Mudança: agora aponta para a raiz do postgres, não para /data
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

  seq:
    image: datalust/seq:latest
    container_name: seq-local
    restart: unless-stopped
    environment:
      - ACCEPT_EULA=Y
      - SEQ_FIRSTRUN_NOAUTHENTICATION=True
    ports:
      - "5341:80"
      - "5342:5342"
    volumes:
      - ./data/seq:/data

volumes:
  pgdata:
  redis-data:
