@inherits LayoutComponentBase

@inject Providers.Auth.AuthManager AuthManager
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @if (AuthManager.IsAuthenticated)
        {
            <div class="top-row px-4">
                @username
                <NavLink href="/">Logout</NavLink>
            </div>
            <article class="content px-4">
                @Body
            </article>
        }
        else
        {
            <NavLink href="/">Login</NavLink>
            <NavLink href="/register">Register</NavLink>
        }
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string username = string.Empty;

    protected override void OnInitialized()
    {
        username = AuthManager.Name ?? "Unknown";
        AuthManager.OnAuthStateChanged += OnAuthStateChanged;
    }

    private void OnAuthStateChanged()
    {
        InvokeAsync(StateHasChanged);
    }

    private void Logout()
    {
        AuthManager.Logout();
        Navigation.NavigateTo("/");
    }

    public void Dispose()
    {
        AuthManager.OnAuthStateChanged -= OnAuthStateChanged;
    }
}
