@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    @username
                    @company
                    <NavLink href="/">Logout</NavLink>
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/">Login</NavLink>
                <NavLink href="/register">Register</NavLink>
            </NotAuthorized>
        </AuthorizeView>

    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string username = "Ygor";

    private string company = "Gato Ninja";
}
