@if (LinkTo is null) { 
    <button class="btn btn-primary mt-5">
        @Text
    </button>
}
else {
    <NavLink class="btn btn-primary mt-5" href="@LinkTo">
        @Text
    </NavLink>
}

@code {

    [Parameter]
    public string Text { get; set; } = default!;

    [Parameter]
    public string? LinkTo { get; set; }

}
