<div class="mt-4">
  <label for="input" class="form-label">@Label</label>
  <input type="@Type" class="form-control" id="input" placeholder="@Placeholder">
</div>

@code {

    [Parameter]
    public string Label { get; set; } = default!;

    [Parameter]
    public string Placeholder { get; set; } = default!;

    [Parameter]
    public string Type { get; set; } = default!;
}
