@page "/home"

@rendermode InteractiveServer

<div class="container">
    <div class="rows col-3 mx-auto pt-4">
        <img src="images/logo25.jpeg" />

        @if (show)
        {
            <h2>@DateTime.Now</h2>
        }

        <button @onclick="OnClick">Clique me</button>

        <ul>
            @foreach (var nome in Names)
            {
                <li>@nome</li>
            }
        </ul>
    </div>
</div>

@code {
    private bool show = false;

    private List<string> Names = new List<string>() {
"Joao", "Maria", "Pedro"
};

    public void OnClick()
    {
        show = !show;
    }
}
